services:
    php:
        image: firozenterprise:1.1
        restart: unless-stopped
        volumes:
            - .:/var/www/html
        environment:
            - PHP_MEMORY_LIMIT=512M
        networks:
            - laravel

    web:
        image: nginx:alpine
        working_dir: /var/www/html
        restart: unless-stopped
        ports:
            - 8080:80
        volumes:
            - .:/var/www/html
            - ./docker/nginx/nginx_template_local.conf:/etc/nginx/conf.d/default.conf
        networks:
            - laravel

    redis:
        image: redis:alpine
        restart: unless-stopped
        networks:
            - laravel
        ports:
            - 6380:6379
        volumes:
            - redisdata:/data

    db:
        image: mysql:9
        restart: unless-stopped
        environment:
            MYSQL_ROOT_HOST: "%"
            MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
            MYSQL_DATABASE: "${DB_DATABASE}"
            MYSQL_USER: "${DB_USERNAME}"
            MYSQL_PASSWORD: "${DB_PASSWORD}"
        ports:
            - "0.0.0.0:3307:3306"
        volumes:
            - mysqldata:/var/lib/mysql
        networks:
            - laravel

volumes:
    mysqldata:
    redisdata:

networks:
    laravel:
        driver: bridge
